<appSettings>
  <!-- Twitter settings -->
  <add key="twitter-consumer-key" value="hAXm4Mk5nd6niDcmSQfzNQ" />
  <add key="twitter-consumer-secret" value="pv8CjRUqXd1ufz3LIQRUqyVKNXRZX66ynMvHQz3r5r0" />
  <!-- Youtube settings -->
  <add key="youtube-application-name" value="TrendSearch" />
  <add key="youtube-developer-key" value="AI39si4L15_ODlB304zllvgYaSXyu0KRvX-yE6c3Yu5ihR_lcWIf5abwh65tP7sr-HR7gxMdNl4pdT00-F7F8-sWHLVJW7ZGhw" />
</appSettings>